---
import Nav from '../components/Nav.astro';
import Canvas from '../components/Canvas.astro';
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <Canvas />
  <Nav />
  <div class="relative flex min-h-screen flex-col items-center justify-center px-4 sm:px-6 lg:px-8">
    <div class="text-center mt-12 max-w-3xl z-10">
      <h1 class="text-6xl md:text-8xl font-bold mb-8 tracking-tighter text-outline bg-clip-text">
        wingky
      </h1>
      <p class="text-lg md:text-xl text-muted leading-relaxed max-w-xl mx-auto">
        I'm building <a href="https://github.com/Wingky530/viewport" class="text-primary hover:underline underline-offset-4 font-medium">ViewPort</a>, an all-in-one web toolkit for developers.
      </p>
    </div>
  </div>
</Layout>