---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Canvas from '../components/Canvas.astro';
import FeaturesShowcase from '../components/FeaturesShowcase.tsx';
---
<Layout>
  <Canvas />
  <Nav />
  <div class="min-h-screen overflow-y-auto w-full">
    <FeaturesShowcase client:load />
  </div>
</Layout>
