---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Canvas from '../components/Canvas.astro';
import ViewPortProject from '../components/ViewPortProject.tsx';
---
<Layout scrollable>
  <Canvas />
  <Nav />
  <div class="min-h-screen w-full relative">
    <ViewPortProject client:load />
  </div>
</Layout>
